<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<section>

    <form id="form" method="post" action ="/alumnos">
        <button id="btnBuscar">Buscar</button>
        <input type="number" name = "matricula" id="matricula" placeholder="Matricula" required>
        <input type="text" id= "nombre" name="nombre" placeholder="Nombre" required>
        <input type="text" id="domicilio" nam="domicilio" placeholder="Domicilio" required>
        <input type="text" id="sexo" name="sexo" placehoder= "M o F" required>
        <input type="text" id="especialidad" name="especialidad " placeholder="Especialidad" required>

        <div style="float:right;margin-right: 5.5rem;margin-top: 1rem;">
            <button id = "btnAgregar">Agregar</button>
            <button id =btnBorrar>Borrar</button>
            <button id="btnModificar">Modificar</button>


        </div>

        <div class ="container">
            <table class ="table table-hover">

                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">MATRICULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DOMICILIO</th>
                    <th scope="col">SEXO</th>
                    <th scope="col">ESPECIALIDAD</th>
                </tr>
            </table>
        </div>
    </form>

</section>