<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Prácticas Node.js</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <center>
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
          <h1>Mis Prácticas Node.js</h1>
          <h2>Alexis Antonio Tirado Ontiveros</h2>
        </div>
      </center>
    </div>
  </header>

  <div class="container">
    <p>Aquí se muestra el contenido principal de la página.</p>
  </div>

</body>
</html>
