<style>
    /* Estilo para o footer */
        .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    }
</style>
    <center>
    <footer class="footer bg-dark">
    <div class="container">
    <span class="text-light">@todos los derechos reservados por JoseLopez </span>
    </div>
    </footer>
    </center>
