<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<div class="container text-center">
    <form id="limpiarForm" action="/cotizacion" method="post">
        <div class="row">
            <div class="col-4">
                <img src="/img/logo.png" alt="" height="200px" width="200px" class="pt-3 pb-3">
            </div>
            <div class="col-8">
                <br><br><br>
                <center>
                    <h1>Toyota Mazatlán</h1>
                </center>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="number" name="folio" class="form-control" id="folio" placeholder="Número de Folio"
                        value=<%=folio%> required>
                    <label for="folio">Número de Folio</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-floating">
                    <input type="text" class="form-control" required name="desc" id="desc" placeholder="Descripción"
                        value=<%=desc%>>
                    <label for="descripcion">Descripción</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="precio" id="precio" placeholder="precio"
                        value=<%=precio%> required>
                    <label for="precio">precio</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="number" class="form-control" name="porcentaje" id="porcentaje" value=<%=porcentaje%>
                        required>
                    <label for="porcentaje">Porcentaje de pago Inicial</label>
                </div>
            </div>
            <div class="col-4 pt-2">
                <select class="form-select" name="plazos" required aria-label="Default select example" value="<%=plazos%>">
                    <option value="0">Plazos</option>
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                    <option value="72">72 Meses</option>
                </select>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="submit">Calcular</button>
                <button class="btn btn-warning" type="reset" onclick="limpiar()">Limpiar</button>
            </div>
        </div>
        <br>
        <hr>
        <div>
            <center>
                <h2>Resultados</h2>
            </center>
            <%
            let inicial = 0, total = 0, mes = 0;
    
            if(precio != 0 && porcentaje != '' && plazos != 0 && folio != 0 && desc != '' ){
               inicial = parseInt(precio * porcentaje/100);
    
               total = parseInt(precio - inicial);
    
               mes = parseInt(total / plazos);

            %>
            <div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="pagoInicial" disabled value=<%=inicial%> readonly>
                        <label for="pagoInicial">Pago Inicial: </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="totFinanciar" disabled value=<%=total%> readonly>
                        <label for="totFinanciar">Total a Financiar: </label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="pagoMensual" disabled value=<%=mes%> readonly>
                        <label for="pagoMensual">Pago Mensual:</label>
                    </div>
                </div>
            </div>
        </div>

        <%
            } else{
                %>
        <script>
            alert("Ingresa todos los campos correctamente.");
        </script>
        <%
            }
        %>
    </form>

</div>

<br>

<%-include('partials/footer.ejs')%>
</body>

</html>